# Virtual Environment
venv/
env/

# Python
__pycache__/
*.py[cod]
*.so

# Environment Variables
.env

# Database
*.db
*.sqlite3

# Local LLM Models
data/models/*.gguf

# Logs
*.log

# IDE
.vscode/
.idea/

# Uploaded Files
data/uploads/*
!data/uploads/.gitkeep

# Vector Store
data/vector_store/*
!data/vector_store/.gitkeep